Package: com.huami.dyyy
Name: DYYY++
Description: 增强版DYYY
Maintainer: pxx917144686
Author: pxx917144686
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
Architecture: iphoneos-arm64
Version: 2.1-7++
Installed-Size: 7692
